<div style="background: url('/assets/autool_notebook/background.jpg') no-repeat; background-size: 100%; height: 600px; padding: 20px;">
  <h1><%= translate("notebooks.title") %></h1>
  <div class="row">
    <div class="col-sm-6">
      <p class="text-justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis sem arcu. Sed sit amet leo erat. Nunc sit amet leo suscipit, pellentesque eros eu, dapibus augue. Cras ullamcorper rutrum felis, at egestas nisi fermentum vel. In varius lorem ligula, vel feugiat libero pretium eu. Curabitur et venenatis dolor, quis congue quam. Praesent vitae cursus urna, quis dapibus ex. Maecenas ut sagittis ex. Aliquam eu lectus lorem. Nullam malesuada rhoncus sem. Nulla faucibus, velit et auctor vehicula, turpis est laoreet enim, a tincidunt sapien eros non purus. 
      </p>
    </div>
    <div class="col-sm-6 center">
      <br /><br /><br />
      <br /><br /><br />
      <%= link_to translate("notebooks.new"), new_notebook_path, :class => "btn btn-primary" %>
    </div>
  </div>

  <div>
    <h2 class="pull-left"><%= translate("notebooks.mine") %></h2>
    <br /><br /><br /><br />
    <% if @notebooks.size == 0 %>
      <span><%= translate("notebooks.noelement") %></span>
    <% else %>
      <% @notebooks.each_with_index do |notebook, index| %>

        <% if index % 4 == 0 %>
        <div class='row'>
        <% end %>

        <div class="col-sm-3">
        <%= link_to notebook_path(notebook) do %>
          <%= render :partial => "autool_notebook/notebooks/thumbnail", :locals => {:notebook => notebook} %>
        <% end %>
        </div>

        <% if (index + 1) % 4 == 0 %>
        </div>
        <% end %>

      <% end %>
    <% end %>
  </div>
</div>
